<div class="prepend-15">
 <%= render :partial => "layouts/search" %>
</div>
<div id="main" class="span-24">
    <div class="box shadow">
      <h2 id="title"><%= @page_title %></h2>
      <div id="help"><%= yield :help %><a class="button">Help</a></div>
      <%= yield :page_menu %>
      <%= render :partial => 'layouts/messages' %>
      <%= yield %>
    </div>
</div>