<script>
  $(document).ready(function(){
      $('.tabs').tabs({
          select: function(event, ui) {
                  window.location.hash = ui.tab.hash;
              }
      });
      // $('span#location-url-hint').html( $('#resource_title').val() );
      $('#resource_title').change(function() {      
          // $('span#location-url-hint').html( $('#resource_title').val() )
      })
      
  });

</script>
<%%= semantic_form_for([:admin,@<%= singular_table_name %>] , :html => {:multipart => true}) do |f| %>
<div class="tabs">

    <ul>
        <li><a href="#properties"><%%= @<%= singular_table_name %>.class %> Properties</a></li>
        <% if options.locatable? %>
        <li><a href="#location">URL</a></li>
        <li><a href="#menu">Menu</a></li>
        <% end %>
    </ul>
    <%% unless f.object.errors.empty? %>
        <div class="error errors">
            <p>The following errors prevented this <%%= f.object.class %> from being saved.</p>
            <%%= f.semantic_errors *f.object.errors.keys  %>
        </div>
    <%% end %>
    <div id="properties">
        <%%= f.inputs do %>
            <% for attribute in attributes -%>
                <% unless attribute.type == :text %>
                    <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name.titleize %>' %>
                <% else %>
                    <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name.titleize %>', :input_html => {:class => 'html_editor'} %>
                <% end -%>
            <% end %>
        <%% end %>
    </div>
    <% if options.locatable? %>
      <div id="location">
          <%%= render :partial => "admin/partials/location_for_resource", :locals => {:f => f} %>
      </div>
      <div id="menu">
          <%%= render :partial => "admin/partials/menus_for_location", :locals => {:f => f} %>
      </div>
    <% end %>
  <%%= f.buttons %>
</div>
<%% end %>
