<%%= semantic_form_for([:admin,@<%= singular_table_name %>], :html => {:multipart => true}) do |f| %>
    <%% if @<%= singular_table_name %>.errors.any? %>
        <div id="error_explanation">
          <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

          <ul>
          <%%= @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
            <li><%%= msg %></li>
          <%% end %>
          </ul>
        </div>
    <%% end %>
    <%%= f.inputs do %>
        <% for attribute in attributes -%>
            <% unless attribute.type == :text %>
        <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name %>' %>
            <% else %>
        <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name %>', :input_html => {:class => 'wymeditor'} %>
            <% end -%>
        <% end %>
    <%% end %>
  
  <hr />
  <div class="submit">
    <%%= f.buttons do %>
        <%%= f.commit_button 'Submit',  :button_html => {:class => 'wymupdate'} %>
    <%% end %>
  </div>

<%% end %>