<script>
  $(document).ready(function(){
      $('.tabs').tabs({
          select: function(event, ui) {
                  window.location.hash = ui.tab.hash;
              }
      });
      // $('span#location-url-hint').html( $('#resource_title').val() );
      $('#resource_title').change(function() {      
          // $('span#location-url-hint').html( $('#resource_title').val() )
      })
      
  });

</script>
<%%= semantic_form_for([:admin,@<%= singular_table_name %>] , :html => {:multipart => true}) do |f| %>
<div class="tabs">

    <ul>
        <li><a href="#properties"><%%= @<%= singular_table_name %>.class %> Properties</a></li>
        <% if options.locatable? %>
        <li><a href="#location">URL</a></li>
        <li><a href="#menu">Menu</a></li>
        <% end %>
    </ul>
    <%% unless f.object.errors.empty? %>
        <div class="error errors">
            <p>The following errors prevented this <%%= f.object.class %> from being saved.</p>
            <%%= f.semantic_errors *f.object.errors.keys  %>
        </div>
    <%% end %>
    <div id="properties">
        <%%= f.inputs do %>
            <% for attribute in attributes -%>
                <% unless attribute.type == :text %>
                    <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name.titleize %>' %>
                <% else %>
                    <%%= f.input :<%= attribute.name %>, :label => '<%= attribute.name.titleize %>', :input_html => {:class => 'html_editor'} %>
                <% end -%>
            <% end %>
        <%% end %>
    </div>
    <% if options.locatable? %>
    <div id="location">
        <%%= f.inputs do %>
            <%%= f.inputs :for => :location do |location_fields| %>
                <li><p class="inline-hints notice">This <%%= @<%= singular_table_name %>.class.to_s.downcase %> is viewable at: <span id="location-url-hint"><%%= link_to @<%= singular_table_name %>.location.url,@<%= singular_table_name %>.location.url %></span></p></li>
                <%%= location_fields.input :url, :label => "Custom URL", :hint => "Used to override the default URL", :input_html => {:id => "location_url" } %>
                <%%= location_fields.input :parent_id, :as => :hidden %>
                <%%= location_fields.input :tree_id, :as => :hidden %>
                <%% unless Cable.special_actions.empty? %>
                  <%%= location_fields.input :special_action, :label => "Special Action", :as => :select, :collection => Cable.special_actions, :hint => "(Optional)" %>
                <%% end %>
                <%% unless Cable.templates.empty? %>
                  <%%= location_fields.input :template, :as => :select, :collection => Cable.templates, :selected => location_fields.object.template || "default", :hint => "Which page template should be used?"%>
                <%% end %>
            <%% end %>
        <%% end %>
    </div>
    <div id="menu">
        <%%= f.inputs do %>
            <%%= f.inputs :for => :location do |location_fields| %>
                <%%= location_fields.inputs :for => :menus do |menu_fields| %>
                    <%%= menu_fields.input :creatable, :as => :boolean, :label => "Show in Menu", :input_html => {:checked => !menu_fields.object.new_record? } %>
                    <%%= menu_fields.input :title , :label => "Menu Title", :hint => "If different than page title."%>
                <%% end %>
            <%% end %>
        <%% end %>
    </div>
  <% end %>
  <%%= f.buttons %>
</div>
<%% end %>
