<%%= paginate  @<%= plural_table_name %>, :window => 1 %>
<table>
  <thead>
    <tr>
      <th><%= singular_table_name.capitalize %></th>
      <th class="updated_at">Updated At</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <%%= render :partial => '<%= singular_table_name %>_row', :locals => {:<%= singular_table_name %> => <%= singular_table_name %>} %>
    <%% end %>
  </tbody>
</table>
<%%= paginate @<%= plural_table_name %>, :window => 1 %>
