<%% if @<%= singular_table_name %>.ancestors.empty? %>
  <div><%%= link_to "Site Root", [:admin, :menus] %> &gt;</div>
<%% else %>
  <div><%%= link_to "Site Root", [:admin, :menus] %> &gt;
    <%% for parent in @<%= singular_table_name %>.ancestors %>  
      <%%= link_to h(parent.title), [:admin, parent] %> &gt;
    <%% end %>
    <%%= @<%= singular_table_name %>.title %>  
  </div>
<%% end %>

<h3><%%= @<%= singular_table_name %>.title %></h3>

<%%= render :partial => 'menu_vitals', :locals => {:menu => @<%= singular_table_name %> } %>
<%%= render :partial => 'menu_children_table' %>

