<%= content_for :scripts do %>
  <%= javascript_include_tag 'cable_menu.js' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){  
      $('#menu').cable_menu();
    });
  </script>
<% end %>

<div class="cable_menu_wrapper" id="menu">
    <% @menu_id = []; @child_c = []  %>
    <%= render_tree(  Location.arranged, :class => "cable_menu", :menu => "0" ) do |location, child| %>
        <%= content_tag :li, location.menus.first.title, :title => location.menus.first.title, :menu => location.id %>
        <% @menu_id << location.parent_id %>
        <% next if child.nil? %>
        <%= content_for :children do %>
            <%= child %>
        <% end %>
    <% end %>
    <% unless @menu_id.empty? %>
      <%# This is bad and needs to be cleaned up %>
      <% @menu_id.compact! %>
      <% @menu_id.reverse!.uniq! %>
      <% @menu_id.reverse! %>
    <% end %>
    <%= raw yield(:children).gsub(/<ul>/){ "<ul class='cable_menu' menu='#{@menu_id.shift || 0 }'>"} %>
</div>
<br />
