<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @page_title || Cable::Setting.last.site_title %> |  Administration Portal </title>

    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag 'cable/blueprint/screen' %>

    <%= stylesheet_link_tag 'ui/aristo/aristo' %>
    <%= formtastic_stylesheet_link_tag %>
    <%= stylesheet_link_tag 'cable' %>
    <%= stylesheet_link_tag 'iphone_checkboxes.css' %>

    <%= javascript_include_tag 'jquery' , 'jquery-ui', 'rails' %>
    <%= javascript_include_tag 'wymeditor/jquery.wymeditor.js' %>
    <%= javascript_include_tag 'wymeditor/plugins/mediabrowser/jquery.wymeditor.mediabrowser.js'  %>
    <%= javascript_include_tag 'wymeditor/plugins/fullscreen/jquery.wymeditor.fullscreen.js'  %>
    <%= javascript_include_tag 'iphone-style-checkboxes.js' %>
    <%= javascript_include_tag 'admin.js' %>
    
    <%= yield :scripts %>
    
  </head>
  <body>
    <div id="wrapper" class="<%= @current_controller %>-controller <%= @current_action %>-action">
      <div class="container">
        <div id="header" class="box"><h1><%= Cable::Setting.last.site_title %></h1></div>
        <div id="main-navigation" class="rounded-box"><%= render_navigation(:level => 1, :context => :admin) %></div>

          <div id="right-col" class="span-4">
            <div id="secondary-navigation"><%= render_navigation(:level => 2..5, :context => :admin) %></div>
            <%= yield :sidebar %>
            <br />
          </div>

          <div id="main" class="span-20 last">
            <div id="main-box" class="box">              
              <h2><%= @page_title %></h2>
              <div id="breadcrumb"><%= render_navigation :renderer => :breadcrumbs, :join_with => " &raquo; " %></div>
              <%= yield :page_menu %>
              <div id="messages_container"><%= render :partial => 'layouts/messages' %></div>
              <%= yield %>
            </div>
          </div>        
          <div id="powered-by-cable">Powered by: Cable | V.<%= Cable::Base.version %></div>
      </div>
    </div>
    <%= yield :debug %>
    <%= yield :closure %>
  </body>
</html>
