<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @page_title || Cable::Setting.last.site_title %> |  Administration Portal </title>

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'cable/blueprint/screen' %>
    <%= stylesheet_link_tag 'cable' %>
    <%= stylesheet_link_tag 'cable/formtastic' %>
    <%= stylesheet_link_tag 'cable/formtastic_changes' %>
    <%= stylesheet_link_tag 'jquery/ui/jquery-ui-1.8.7.custom.css' %>
    <%= javascript_include_tag 'jquery' , 'jquery-ui', 'rails','tinymce/jquery.tinymce.js', 'jquery.tablesorter.min.js',  'jquery.ui.autocomplete.html.js', 'admin.js' %>
    <%= yield :scripts %>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="span-16"><h1><%= Cable::Setting.last.site_title %></h1></div>
        <div class="span-8 last"><%= yield(:admin_login , admin_user_login) %></div>
        <div id="main-navigation" class="span-24"><%= render_navigation(:level => 1, :context => :admin) %></div>        
      </div>
    </div>
    <div id="main-wrapper">
      <div class="container">
        
        
        <% if @admin_layout == "single" %>
          
         <%= render :partial => "layouts/search" %>
        
          <div id="main" class="span-24">
            <div class="box shadow">
              <h2 id="title"><%= @page_title %></h2>
              <div id="help"><%= yield :help %><a class="button">Help</a></div>
              <%= yield :page_menu %>
              <%= render :partial => 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>        
        <% else %>
        <div id="right-col" class="span-4">
          <div id="secondary-navigation" class="box shadow"><%= render_navigation(:level => 2..5, :context => :admin) %></div>
          <%= yield :sidebar %>
        </div>
        
        <div class='span-11'><%= render :partial => 'layouts/breadcrumb' %></div>
        <%= render :partial => "layouts/search" %>

        <div id="main" class="span-20 last">
          <div class="box shadow">
            
            <h2 id="title"><%= @page_title %></h2>
            <div id="help"><%= yield :help %><a class="button">Help</a></div>
            <%= render :partial => 'layouts/breadcrumb' %>
            <%= yield :page_menu %>
            <%= render :partial => 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div id="powered-by-cable">Powered by: Cable | V.<%= Cable::Base.version %></div>
      </div>
    </div>
    <%= yield :debug %>
    <%= yield :closure %>
  </body>
</html>
